@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.main-content {
	border: 1px solid red;
	max-width: 75rem;
	margin: auto;
	padding: 1rem;
}
