@import url('https://fonts.googleapis.com/css?family=Nunito:300,700|Open+Sans:300,700');

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
